/*-- start css grid style --*/
*
{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
        
}
body{
    font-family: muli,sans-serif
    
}
/*-- give nav some style --*/
.main-nav{
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    grid-gap:5px;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}
.main-nav img
{
    padding-left: 30px;
    padding-top: 20px
}
.main-nav div > a
{
    float: right;
    color: #fff;
    text-align: end;
    margin-top: 28px;
    margin-right: 50px;
    border-bottom: 2px solid #615cfd ;
    padding-bottom: 12px;
    text-decoration: none;
}


.main-nav .logo > p{
    float: left;
    
}
.main-nav ul{
    float: left;
    list-style: none;
    display: inline-flex;
    
}
.main-nav ul li{
    width: 100px;
    margin: 15px;
    padding: 15px;
    

}
.main-nav ul li a{
    text-decoration: none;
    color: #ffffff;
}
.main-nav ul li a:hover{
color: #615cfd;
}
.main-nav ul li:hover{
    border-radius: 3px;
}
.main-nav .mainchild{
    display: none;
}
.main-nav .mainchild li > a  {
        color : #000000 
}

.main-nav ul li:hover .mainchild{
    display: block;
    position: absolute;
    background: #f0efef;
    margin-top: 15px;
    margin-left: -15px;
    
}
.main-nav ul li:hover .mainchild ul{
    display: block;
    margin: 15px;

}
/*--end nav style-- */

/*--start content --*/
/*-- start style section --*/
/*-- section 1 header--*/
.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:minmax(100px,auto) ;
    grid-gap: 10px;
   

}
.content .header {
    background-image: url('../images/gro.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    float: left;
    font-size: 50px;
    padding-top: 200px;
    border: 0;
    
}
.content .header h1{
    color: #ffffff;
}

/*--end section 1--*/
/*-- section 2 service--*/

.content .service{
    text-align: center;
    margin-top: 100px;
}
.content .service h4{
    color: blue;
    font-size: 15px;
}
.content .service p{ 
    font-size: 40px;
}

/*-- end section 2 --*/
/*-- section 3 icon --*/

.content .lcon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 40px;

}
.content .lcon .design{
    border: 1px solid #a7cfc7e3;
    padding: 40px;
    margin: 40px;
    text-align: center;
    border-radius:10px;
    
   
}
.content .lcon .design p{

    line-height: 30px;
    color: #80a7b1;
}

/*--end section 3-- */
/*-- section 4 how we work--*/

.content .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.content .work .how{
    text-align: left;
    margin: 50px;
    padding: 50px;
    line-height: 30px;

}
.content .work .how h1{
    font-size: 60px;
    line-height: 50px;

    
}
.content .work .how p{
    color: #80a7b1;
    font-size: 20px;

}
.content .work  input{
    size: unset;
}

.content .work img{
    width: 700px;
    padding: 20px;
    border: 1px solid #a7cfc7e3;
    border-radius:20px;

}

/*--end section 4-- */
/* -- section 5 some info--*/

.content .info{
    background-image:url(https://colorlib.com/preview/theme/startup2/img/testmonial/banner.png);
    text-align: center;
    height: 600px;
    margin: 0px;
    padding-top: 150px;
    color: #ffffff;

}
.content .info p{
    font-size: 25px;
    
}

/*--end section 5--*/
/*-- section 6 make form to let massage to us--*/

.content .Massage{
    text-align: center;
    margin-top: 150px;

}
.content .Massage h1{
    font-weight: bold;
    font-size: 50px;

}
.content .Massage p{
    font-weight: initial;
    color: #f08080;

}
.content .Massage form{
    display: grid;
    grid-template-columns:1fr;
}
.content .Massage form .one input{
    border-radius:30px;
    width: 300px;
    height: 50px;
    padding: 15px;
    margin-bottom: 25px;
}
.content .Massage form .two input{
    display: grid;  
    grid-template-columns: 3fr;
    border-radius:30px;
    width: 1000px;
    height: 50px;
    margin: 50px;
    padding: 15px;
    margin-left: 170px;
    
}

.content .Massage form .two button{
    width: 1000px;
    height: 50px;
    border-radius:20px;
    background-color: #43439b;
}
.content .Massage form .two button:hover{
    background-color: #ffffff;
    border-color: #8a2be2;
}
/*--end section 6--*/
/*-- end section --*/
/*--end content --*/

/*-- give footrt some style --*/
footer{
    background-color: #000000;
    background-size: cover;
    margin-top: 100px;
    padding:100px;
    

}
footer .end{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
}
footer .end ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    color: #ffffff;

}
footer .end ul{
    float: left;
    list-style: none;
    display: inline-flex;
    
}
footer .end ul li{
    width: 70px;
    margin: 10px;
    padding: 10px;
    

}
footer .end ul li a{
    text-decoration: none;
    color: #ffffff;
}
footer .end ul li a:hover{
color: #615cfd;
}
footer .end ul li:hover{
    border-radius: 3px;
}
footer .end .socail_links{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    text-align: center;
    box-sizing: border-box;

}
footer .end .socail_links li{
    border-color: #f0f8ff;



}
footer .end .socail_links li:hover{
    color:#615cfd;
}
footer hr {
    border: none;
    height: 1px;
    color: #333; 
    background-color: #333; 
}

footer  p{
    color: #ffffff;
    text-align: center;
    margin-top: 40px;

}
footer  p span{
    color: #8a2be2;
}

/*-- end footer --*/
/*-- end css style --*/