/* Main Css Rules  for Main Elements in The project */


*
{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
        
}
body{
    height: 1000px;
    font-family: muli,sans-serif
    
}
.main-nav{
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    grid-gap:5px;
    margin: 0px;
    padding: 0px;
    background-color: black;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}
.main-nav img
{
    padding-left: 30px;
    padding-top: 20px
}
.main-nav div > a
{
    float: right;
    color: #fff;
    text-align: end;
    margin-top: 28px;
    margin-right: 50px;
    border-bottom: 2px solid #615cfd ;
    padding-bottom: 12px;
    text-decoration: none;
}


.main-nav .logo > p{
    float: left;
    
}
.main-nav ul{
    float: left;
    list-style: none;
    display: inline-flex;
    
}
.main-nav ul li{
    width: 100px;
    margin: 15px;
    padding: 15px;
    

}
.main-nav ul li a{
    text-decoration: none;
    color: white;
}
.main-nav ul li a:hover{
color: #615cfd;
}
.main-nav ul li:hover{
    border-radius: 3px;
}
.main-nav .mainchild{
    display: none;
}
.main-nav .mainchild li > a 
 {
        color : black 
}

.main-nav ul li:hover .mainchild{
    display: block;
    position: absolute;
    background: rgb(240, 239, 239);
    margin-top: 15px;
    margin-left: -15px;
    
}
.main-nav ul li:hover .mainchild ul{
    display: block;
    margin: 15px;

}

{
margin: 0px;
padding:0px;
box-sizing: border-box;
}

body
{
    
    font-family: muli,sans-serif;
    
}
/*css for nav-bar*/
.main-nav
{
display: grid;
grid-template-columns:1fr 3fr 1fr;
grid-gap:5px;
margin: 0px;
padding: 0px;
background-color: black;
position: fixed;
z-index: 1;
top: 0;
right: 0;
left: 0;
}

.main-nav img
{
padding-left: 30px;
 padding-top: 20px
}

.main-nav div > a
{
float: right;
color: #fff;
text-align: end;
margin-top: 28px;
margin-right: 50px;
border-bottom: 2px solid #615cfd ;
padding-bottom: 12px;
text-decoration: none;
}


.main-nav .logo > p
{
float: left;color: #EEE;   
}

.main-nav ul
{
float: left;
list-style: none;
display: inline-flex;   
}

.main-nav ul li
{ 
width: 100px; 
margin: 15px;
padding: 15px; 
}

.main-nav ul li a
{
text-decoration: none;
color: white;
}

.main-nav ul li a:hover
{
color: #615cfd;
}

.main-nav ul li:hover{
border-radius: 3px;
}
.main-nav .mainchild
{ 
display: none;
}

.main-nav .mainchild li > a 
{
color : black 
}

.main-nav ul li:hover .mainchild
{
display: block;
position: absolute;
background: rgb(240, 239, 239);
margin-top: 15px;
margin-left: -15px;   
}

.main-nav ul li:hover .mainchild ul
{
display: block;
margin: 15px;
}
/*css for  featured work section*/
.content
{
display: grid;
justify-items :center;
}

.content span
{
margin-left: 115px;
}

.content  h1
{margin-top: 140px;
color: #696969;
font-size: 40px;
font-family: serif;

}
.content p
{margin-top:
color: #A9A9A9;
margin-bottom: 90px;
font-family: serif;
font-weight: lighter;
padding: 5px;
font-size: 17px;
}
/*css for the img in featured work section*/
.featured ul
{
margin-left: 40px;
list-style-type: none;
}

.featured ul li 
{
float: left;
overflow: hidden;
padding: 13px;
margin-bottom: 15px;
}

.parent ul li img
{
opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.parent .about
{
width: 100%
height:100%;
opacity: 0;
background-color: #fff;
display: flex;
justify-content: center;
align-items: center;

}
.parent ul li img :hover
{
opacity: 0;
}
.parent .about :hover
{opacity: 1;}
/*css for how we work section*/
.work 
{

float: left;
overflow: hidden;
background-color:#FFFAFA;
margin-top: 60px;
display: grid;
grid-template-columns:700px 650px;
}

.work img
{
border-radius: 10px;

}
.work h1
{
margin-left: 50px;
margin-bottom: 60px;
margin-top: 160px;
color:#696969;
font-family: arial;
font-size: 50px;
}
.work p
{
color: #A9A9A9;
margin-left: 50px;
font-family: sans-serif;
font-size: 17px;
padding-bottom:10px
}
/*css for gallery-image section*/
.gallery-img
{
float: left;
padding: 15px;
margin-top: 50px;
margin-left: 100px;
}

.gallery-img h1
{
margin: 40px 20px 30px 0px;
font-family: arial;
color: #696969;
}
/*css for list section*/
.the-list
{
margin-top: 40px;
margin: auto;
width: 1250px;
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
font-family: arial;
margin-bottom: 60px;
}

.the-list .header
{
color:#7B68EE;
padding: 7px;
}

.the-list .header div
{
color: #696969;
margin-bottom: 20px;
}

.the-list .unorderd-list div
{
color: #696969;
margin-bottom: 20px;
}

.elements
{
width: 1250px;
margin: auto;
display: grid;
grid-template-columns:2fr 1fr;

}

.the-list  ul 
{   
list-style-type: none;

}
.the-list .unorderd-list ul li
{
color: #696969;
font-size: 18px;
font-family: serif;
padding-bottom: 10px;
list-style: none;
}

.the-list .unorderd-list .nested 
{
margin-left: 30px;
padding:10px 0px 10px 0px;
}

.the-list .unorderd-list .nested .span1
{
margin-left: 10px;
}

.the-list .unorderd-list ul li img
{
padding-right: 10px;
}
.the-list .orderd-list ol li
{
list-style-type: none;
color: #696969;
font-size: 18px;
padding-bottom: 10px;
font-family: serif;
color: #4169E1;
font-weight: lighter;
}

.the-list .orderd-list ol li span
{
color: #ff0000;
padding-right: 10px;

}

.the-list .orderd-list .nested2
{
margin-top: 30px;
margin-left: 50px;
}

.the-list .orderd-list .nested3
{
margin-bottom: 30px;
margin-left: 100px;
}

.the-list .orderd-list div
{
color: #696969;
margin-bottom: 20px;
}

.elements
{
width: 1250px;
margin: auto;
display: grid;
grid-template-columns:2fr 1fr;
margin-top: 40px;
}
.elements .form-element div
{
margin-top: 7px;
border: none;
color: #696969;

font-weight:lighter;
font-family: arial;
}

.elements .form-element div input[type="text"]
{
width: 710px;
height:50px;
border: none;
background-color: #F5F5F5;
padding-left: 15px;
color: #696969;
}
.elements .form-element div input[type="message"]
{
width: 710px;
height:110px;
color: #696969;
border: none;
background-color: #F5F5F5;
padding-left: 15px;
}
.elements .switches h1
{
color: #696969;padding-bottom: 30px;
}
.elements .switches ol li
{
list-style: none;
font-family: arial;
font-size: medium;
color: #696969;
padding-bottom: 30px;
}

.elements .select-box select
{
border: none;
background-color: #F5F5F5;
width: 210px;
height: 40px;text-align: center;
cursor: pointer;
}

.elements .select-box select option {color: #696969;}
.elements .select-box select option :hover
{
color:#ff0000;

}
.Checkbox h1
{
padding-top: 20px;
}
.check-box ol li input[type="checkbox"]
{
display: grid;
grid-template-columns:1fr;
margin-left: 220px;width: 18px;height: 18px;
border: none;
}
/*css for */
.container
{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin-top: 60px;
margin: auto;
width: 1250px;
margin-bottom: 60px;
}

.container .div1 
{
position: relative;
font-family: arial;
}
.container .div1 a
{
text-decoration: none;
transition: 0.3s;
cursor: pointer;
}
.container .div1 a:hover
{
color: #4169E1;
}
.container .div1 h5
{
position:absolute;
left: 90px;bottom: 255px;
color: #A9A9A9;

}

.container .div1 h3
{
position: absolute;left: 90px;
bottom: 230px;
color: #696969;
}

.container .div1 img
{
margin-top: 30px;
margin-left: 10px;
}

.container .div2
{
left: 60px;
position: relative;
}

.container .div2 a
{
text-decoration: none;
transition: 0.3s;
cursor: pointer;
}

.container .div2 a:hover
{
color: #4169E1;
}
.container .div2 img
{
margin-top:30px;
margin-left: 160px;
}

.container .div2 h5
{
color: #A9A9A9;
position: absolute;
bottom: 255px;
left: 60px;
}

.container .div2 h3
{
color: #696969;
position: absolute;
bottom: 230px;
}

.container .div3
{
background-color: #f8f8f8;
height: 310px;
}

.container .div3 input[type="text"]
{
margin-left: 35px;
margin-top: 10px;
color: #A9A9A9;
font-family: arial;
text-align: center;
width: 30px;
height: 15px;
border: none;
cursor: pointer;
transition: 0.3s;
width: 90px;
height: 30px;
padding: 15px;
}

.container .div3 input[type="text"]:hover
{
color: #fff;
background-color: #4169E1;
}

.container .div3 hr
{
color: #f8f8f8;
margin-bottom: 30px;
}

.container .div3 h3
{
font-family: arial;
color: #696969;
margin-left: 30px;
margin-top: 30px;
margin-bottom:20px;
}

/*css for harvard section*/
.harvard
{position: relative;
background-color: #f8f8f8;
width: 730px;
height: 250px;bottom: 130px;left: 60px;
}
.harvard p
{
margin-top: 30px;
color: #A9A9A9;
font-family: sans-serif;
padding: 20px;
position: absolute;bottom: 90px;
left: 130px;
}
.harvard h3
{
position: absolute;
left: 145px;
bottom: 165px;
color:  #696969;
font-weight: bold;

}
.harvard img
{
margin-left: 30px;
position: absolute;
top: 60px;
}
/*css for insta section*/
.insta
{
background-color: #f8f8f8;
height: 310px;
position: absolute;
left: 885px;
top: 5160px;width: 410px;
}

.insta h3
{
margin-left:20px;
margin-top: 20px;
font-family: arial;
color: #696969;
margin-bottom: 20px; 
}

.insta img
{
margin-left: 20px;
margin-top: 20px;

}
/*css for comments section*/
.comments
{
margin-left: 30px;
position: relative;

font-family: arial;

}

.comments .first-part p
{
position: absolute;
left: 160px;
bottom: 295px;
color: #696969;
}
.comments .second-part p
{
position: absolute;
left: 160px;
bottom: 170px;
color: #696969;
}
.comments  p
{
padding: 10px;
}
.comments .third-part p
{
position: absolute;
left: 160px;
bottom: 30px;
color: #696969;
}
.comments .span1 
{
font-size: 18px;
color: #696969;
font-weight: bold;
}
.comments .span2
{
color: #696969;
font-size: small;
font-weight: lighter;
} 

.comments img
{
margin-top: 30px;
margin-bottom: 30px;
margin-left: 60px;
}
.comments h2
{
color: #696969;
margin-left: 30px;
}
/*css for form section*/
.form
{

background-color: #f8f8f8;
height: 310px;
position: absolute;
left: 885px;
top: 5500px;width: 410px;

}
.form h2
{
margin-left: 30px;    
margin-bottom: 30px;
margin-top: 30px;
}
.form input[type="text"]
{

border:none; 
width:345px;
height: 45px;
margin-bottom: 15px;
color: #A9A9A9;
padding: 15px;
margin-top: 30px;
margin-left: 30px;
}
.form  input[type="btn"]
{
width: 345px;
height:55px;
color: #4169E1;
border-color: #4169E1;
background-color: #fff;
cursor: pointer;
text-align: center;
margin-left: 30px;
}
.form  input[type="btn"]:hover
{
border: none;
color: #fff;
background-color: #4169E1;
}
/*css for reply section*/
.reply
{
margin-left: 120px; 
font-family:arial;
margin-top: 60px;
margin-bottom: 60px;
}

.reply h1
{
color: #696969;
margin-bottom: 30px;
}

.reply .input1 textarea 
{
width: 700px;
height: 200px;
padding-left: 10px;
border-color: #f5f5f5;
margin-bottom: 30px;
padding: 15px;
color: #696969;
}

.reply .input2 input[type="text"]
{
border-color:#f5f5f5;  
width: 340px;
height: 40px;
padding: 15px;
margin-bottom: 30px;
color: #696969;
margin-right: 20px;
}

.reply .input3 input[type="text"]
{
border-color: #f5f5f5; 
width: 700px;
height: 40px;
margin-bottom: 30px;
color: #A9A9A9;
padding: 15px;
}

.reply .button input[type="btn"]
{
width: 210px;
height:55px;
color: #4169E1;
border-color: #4169E1;
background-color: #fff;
cursor: pointer;
text-align: center;
}

.reply .button input[type="btn"]:hover
{
border: none;
color: #fff;
background-color: #4169E1;
}
/*css for footer section*/
.end
{
display: grid;
grid-template-columns:1fr 2fr 1fr ;
background-color: #000;
height: 400px;
}

.end header
{
margin-top: 100px;
margin-left: 90px;
}
.end nav
{
float: right;
}

.end .nav1 ul li
{
float: left;
 margin-top: 100px;
padding: 10px;
}

.end .nav2 ul li
{
float: right;
margin-top: 100px;
}

.end  ul li a
{
color:#fff;
text-decoration: none;
transition: 0.3s;
}

.end  ul li a :hover
{
color:#0000ff;
}

.end .line hr
{
display: grid;color: #eee;
grid-template-rows:100%;
}

.end .our-p
 {
 margin-top: 40px;
color: #eee;
}

.end .our-p a :
{
text-decoration: none;
color: #fff;
}
.end .our-p a:hover
{
color: #0000ff;
transition: 0.3s;
}
