/* Main Css Rules  for Main Elements in The project */


.container
{
    height: 1000px;
    width: 940px;
    margin: 20px auto;
    background-color: #FFF;
}

/*  End of Main Css Rules  */

/*  Start Header */

/*  end Header */



/*  Start  content */


/*  end content */



/*  Start  footer */

/*  end footer */